/* mobile first small*/

.venue_name {
  color: yellowgreen;
}

.events-details {
  width: 100%;
  margin: 0.5rem;
}

.theme_dark .events-details {
  color: var(--light-text-color);
  /* background-color: rgb(103, 172, 197); */
}

.dated_event_detail_text {
  width: 100%;
}

.dated_event_detail {
  width: 100%;
}

.dated_event_detail_images {
  width: 100%;
}

.dated_event_detail_images img {
  margin-bottom: 1rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .events-details {
    /* width: 60%;
    margin: 2%; */
  }

  .dated_event_detail_text {
    /* background-color: blue; */
    width: 50%;
    padding: 1rem;
  }

  .dated_event_detail {
    /* background-color: yellow; */
    display: flex;
  }

  .dated_event_detail_images {
    /* background-color: green; */
    width: 50%;
  }
}
