.header-links {
  color: var(--theme_dark_header_text);
  margin-top: 8px;
  padding-bottom: 8px;
}

.header-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-links li {
  list-style: none;
}

.header-links a {
  text-decoration: none;
  color: var(--theme_dark_link_color);
}

.header-links a:active {
  color: var(--theme_dark_link_highlight_color);
}

.header-links a:hover {
  color: var(--theme_dark_link_highlight_color);
}
