.event_card h4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.event_card a {
  text-decoration: none;
  color: var(--theme_dark_text_color);
}

.event_card a:hover {
  color: var(--theme_dark_link_bg_highlight_color);
}

.event_card a:visited {
  color: var(--theme_dark_text_color);
}
