.announcement {
  background-color: var(--alert-bg-color);
  background-color: yellow;
  text-align: center;
  padding: 0.5rem;

  font-size: 1.2rem;
  width: 100%;
}

.announcement h3 {
  font-weight: 400;
}
